<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
		$(document).ready(function(){
			$("form").submit(function(evt){
				evt.preventDefault();
				var data = {
					login: evt.target.login.value,
					senha: evt.target.senha.value
				}
				socket.emit('logindb', data);
				socket.on('login', function(data){
					if(data == true){
						console.log(data);
						window.location.href = "http://localhost:5000/admin/db";
					}else{
						console.log(data);
						console.log('Negado');
					}

				})
				return false;
			})
		})
		
	</script>
</head>
<body>
	<%= passou %>
	<form action="#" method="POST">
		<label for="login">Login: </label>
		<input type="text" name="login" id="login" value="rodrigo"><br><br>
		<label for="senha">Senha: </label>
		<input type="password" name="senha" id="senha" value="123">
		<input type="submit" value="Entrar">
	</form>
</body>
</html>