<!DOCTYPE html>
<html>
<head>
  <title>Node.js Getting Started on Heroku</title>
</head>

<body>
<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.nome %> - <%= r.email %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
