<section id="desenvolviment2">
	<div class="flex-control">
		<article>
			<div class="icon-cicle"><i class="fa fa-users" aria-hidden="true"></i></div>
			<h2>Divulgação barata e eficaz</h2>
			<p>
				A Internet é o meio de comunicação mais utilizado do mundo. Estar presente nela com uma página exclusiva para o seu negócio já significa uma enorme visibilidade e aumento das possibilidades de sucesso e reconhecimento da marca sem custos adicionais. Por ser online e de fácil acesso, o site transmite maior quantidade de informações e atinge o seu público-alvo com rapidez e eficácia.
			</p>
		</article>
		<article>
			<div class="icon-cicle"><i class="fa fa-usd" aria-hidden="true"></i></div>
			<h2>Aumento de clientes</h2>
			<p>
				Devido a sua enorme abrangência, o site torna-se uma ótima vitrine virtual. É possível expor e até vender seus produtos e serviços a qualquer hora e para qualquer lugar do mundo.  Estar online 24h por dia dá a oportunidade para que os potenciais clientes tomem decisões favoráveis ao seu negócio quando preferirem.
			</p>
		</article>
	</div>
	<div class="flex-control">
		<article>
			<div class="icon-cicle"><i class="fa fa-cogs" aria-hidden="true"></i></div>
			<h2>Como você desejar</h2>
			<p>
				Com a estrutura de componentes é possível escolher quais e quantos componentes você quer colocar na sua página, montando uma página única e totalmente exclusiva. A W3 constrói sites da maneira que você quiser, todas as cores e elementos que você preferir, temos o enorme prazer de poder ajudar com o que você precisa.
			</p>
		</article>
		<article>
			<div class="icon-cicle"><i class="fa fa-tachometer" aria-hidden="true"></i></div>
			<h2>Fácil e barato</h2>
			<p>
				Você pode controlar tudo que acontece em seu site por um painel de controle, de forma fácil e rápida. Redução muito significativa de custos em relação a outros meios de publicidade. Certamente o melhor investimento publicitário e de divulgação que poderá fazer hoje em dia com o número de internautas sempre a aumentar.
			</p>
		</article>
	</div>
</section>