<header>
	<div class="slide">
		<div class="sub-slide">
			<div class="div-logo"><img src="imgs/logo.png" width="40px"></div>
			<div class="img-slide"><img src="imgs/slide.jpg" width="40px"></div>
			<div class="description">
				<div class="carroselBsub">
					<div class="carrosel carrosel-active carrosel-inactive-active">
						<div class="subCarrosel">
							<span>
								<i class="fa fa-hand-o-right" aria-hidden="true"></i> 
								Site acessível para todo tipo de dispositivo (celular, tablet, computador etc)
							</span>
						</div>
						<div class="subCarrosel">
							<span>
								<i class="fa fa-hand-o-right" aria-hidden="true"></i> 
								Inovando com layouts e também animações incríveis
							</span>
						</div>
						<div class="subCarrosel">
							<span>
								<i class="fa fa-hand-o-right" aria-hidden="true"></i> 
								Proporciona ótima experiência para todos os usuários do site
							</span>
						</div>
					</div>
				</div>
				<div class="text-propost">
					<span class="first">
						Tenha um site que rode em todos os disposivitos, mostre seu produto ou serviço, venda mais!
					</span>
					<span class="second">
						Conheça nossos planos e solicite uma proposta de orçamento.
					</span>
				</div>
				<div class="imgs-carrosel">
					<a href="#propost">Solicitar proposta</a>
					<div class="slide-carrosel">
						<img src="imgs/slide1.png" width="40px" class="slide1">
						<img src="imgs/slide2.png" width="40px" class="slide2">
						<img src="imgs/slide3.png" width="40px" class="slide3">
						<img src="imgs/slide4.png" width="40px" class="slide4">
						<img src="imgs/slide5.png" width="40px" class="slide5">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="menu">
		<div class="li-principal">
			<span>Sistemas Web</span>
		</div>
		<div id="menu-btn">
			<i class="fa fa-bars" arial-hidden="true"></i>
		</div>
		<div class="menu-list opacity-hidden">
			<ul>
				<li><a href="#desenvolviment2">Vantagens</a></li>
				<li><a href="#desenvolviment3">Empresa</a></li>
				<li><a href="#">Portfólio</a></li>
				<li><a href="#contact">Contato</a></li>
			</ul>
		</div>
	</div>
</header>