<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1, maximum-scale=1">

	<title>W3 Sistemas Web</title>
	<link rel="icon" href="/imgs/logo_mini.png" type="image/x-icon" />

	<!-- ===================== css ============================== -->
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

		<link rel="stylesheet" href="/dist/ladda.min.css">

		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/desenvolviment.css">	
		<link rel="stylesheet" href="css/desenvolviment2.css">	
		<link rel="stylesheet" href="css/desenvolviment3.css">	
		<link rel="stylesheet" href="css/footer.css">	

	<!-- ===================== js ============================== -->
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
		<script src="/dist/spin.min.js"></script>
		<script src="/dist/ladda.min.js"></script>
		<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
		
		<script src="js/global.js"></script>
		<script src="js/header.js"></script>
		<script src="js/desenvolviment.js"></script>
		<script src="js/desenvolviment3.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/mask.js"></script>
		

		
		<script>
			var socket = io();

			$(document).ready(function(){
				$(".mask").mask('(00) 0000-00000');
				$(".mask").blur(function(){
					if($(this).val().length < 14){
						$(this).val('');
					}
				})
			})
		</script>
</head>
<body>
	<% include header/header.ejs %>
	<% include desenvolviment/desenvolviment.ejs %>
	<% include desenvolviment2/desenvolviment2.ejs %>
	<% include desenvolviment3/desenvolviment3.ejs %>
	<% include footer/footer.ejs %>				
</body>
</html>