body, html{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.15;
  color: #373a3c;
  width: 100%;
 
}
label.custom-checkbox input[type="checkbox"] { 
  opacity:0;
}

label.custom-checkbox input[type="checkbox"] ~ .helping-el{
  background-color: #FFFFFF;
  border: 2px solid #009688;  
  border-radius: 2px;
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 2px;
}

label.custom-checkbox input[type="checkbox"]:checked ~ .helping-el{ 
  background-color: #009688;
}

label.custom-checkbox input[type="checkbox"]:checked ~ .helping-el:after {
    color: #FFFFFF;
    content: "\2714";
    font-size: 20px;
    font-weight: normal;
    left: 2px;
    position: absolute;
    top: -1px;
    
}
a{
  text-decoration: none;
}
section{
  width: 100%;
  margin: 0 auto;
}
section header nav{
  width: 100%;
  position: fixed;
  box-shadow:0px 4px 8px rgb(230, 230, 230);
  top: 0;
  background: white;
  left: 0;
  z-index: 10;
}
* {
   box-sizing: border-box;
}
section header nav .content{
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
section header nav .control{
  width: 100%;
  display: flex;
  align-items: center;
}
section header nav .control .btn-nav{
  width: 33.333%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: #f4f4f4;
  border:1px solid rgb(200, 200, 200);
}
section header nav .control .btn-nav:hover{
  background-color: rgb(230, 230, 230)
}
section header nav .control .btn-nav:nth-child(2){
 border-left: none;
  border-right:none;
}
section header nav .control .btn-nav:nth-child(3){
  border-right:none;
}
section header nav .control .btn-nav:first-child{
  border-radius:4px 0 0 4px;
  
}
section header nav .control .div-search-primary{
  border-radius:0 4px 4px 0;
  display: flex;
  justify-content: space-around;
 
}
section header nav .control .btn-nav i{
  color:#444;
  
}

section header nav .control a i,
section header nav .control a#count-list span{
  display: block;
  margin: 0 auto;
  font-size: 20px;
}
section header nav .control a#count-list span{
  font-size: 15px;
  color:green;
 
}
section header nav .control i.fa-search-primary{
  font-size: 28px;
  display: block;
  margin: 0 auto;
  text-align: center;
  
}
.opt-top-none{
   top:-60px;
  transition: 0.2s linear;
}
.opt-top{
  top:0px;
  transition: 0.2s linear;
}
section header nav form{
  position: fixed;
 
  left: 0;
  width: 100%;
}
section header nav form .input a{
  background-color: #ce3f2e;
  width: 50px;
  display: flex;
  align-items: center;
  color: white;
}

section header nav form .input a i{
  display: block;
  margin: 0 auto;
}
section header nav form .input{
  display: flex;
}
section header nav  form input{
 
  width: 100%;
  border-radius: 2px !important;
    padding: 8px 12px;

    display: block;
    width: 100%;
    height: 54px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
  border-top: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

section article ul{
  overflow: hidden;
  padding: 0;
  list-style: none;
}
section article{
  width: 100%;
  margin-top:70px;
  
}
section article ul#list-data li.parent .div-checkbox{
    width: 20%;
  padding-left: 20px;
  
  
}
section article ul#list-data li.parent .itens-data{
  padding-right: 10px;
  width: 80%;
}
section article ul#list-data{
  width: 100%;
}
.hide_text li{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.hide_text .tels{
  display: none;
}
li.hide_text{
   border-bottom:1px solid rgb(200, 200, 200);
}
section article ul#list-data li.parent{
  display: flex;
  align-items: center;
 
  padding:11px 0;
}
section article ul#list-data li.parent:not(.hide_text){
  border-top:2px solid green;
  border-bottom:2px solid green;
}
section article ul#list-data li.parent:hover{
  background-color: rgb(240, 240, 240);
}

section article ul#list-data li.parent li.li-data-nome span{
  font-size: 15px;
  float: left;
  display: block;
  
  width: 50%;
  color: rgb(50, 50, 50)
}
section article ul#list-data li.parent li.li-data-nome .span-data-date{
  font-size:11px;
  color:#4385f3;
  font-weight:900;
  width: 50%;
  text-align: right;
  float: left;
}
section article ul#list-data li.parent .tels span{
  display: block;
  color: #ec9720;
}
section article ul#list-data li.parent .tels{
  margin: 10px 0;
}

section article ul#list-data li.parent li,
section article ul#list-data li.parent li span{
  font-family: 'Calibri';
  font-size: 14px;
  line-height: 1.5;
  color:rgb(100, 100, 100);
}
section article ul#list-data li.parent .div-checkbox label{
  position: relative;
  bottom: 20px;
}
@media only screen and (min-width:355px){
  section article ul#list-data li.parent .div-checkbox label{
    position: relative;
    bottom: 0px;
    left:-20px;
  }
}
@media only screen and (min-width:560px){
  .opt-top-none,
  .opt-top{
   top:0;
    transition: 0s linear;
  }
  section header nav{
    box-shadow:none;
    border-bottom: 3px solid rgb(0, 200, 200);
  }
  section header nav .control .div-search-primary{
    display: none;
  }
  
  section header nav .control .btn-nav:nth-child(3){
    border-radius:0 4px 4px 0;
    border-right:1px solid rgb(200, 200, 200);
  }
  section header nav form{
    position: relative;
    
    left: 0;
    width: 100%;
    max-width: 500px;
    margin-left: 10px;
  }
  section header nav  form input{
    height: 44px;
    border-top: 1px solid #ccc;
  }
  section header nav form .input a{
    display: none;
  }
  section header nav .control .btn-nav{
    width: 90px !important;
  }
  section header nav .content{
    padding:20px 10px;
    
  }
  /*------------------------------------------*/
  
  section article{
    margin-top:90px;

  }
  section article ul#list-data li.parent .div-checkbox label{
    bottom: 0;
  }
  section article ul#list-data li.parent .itens-data{
    padding-right: 20px;
    width: 80%;
  }
  section article ul#list-data li.parent .div-checkbox{
    width:150px;
    padding-left: 20px;
  }
  section article ul#list-data li.parent li,
  section article ul#list-data li.parent li span{
    line-height: 1.7;
  }
}
@media only screen and (min-width:900px){
  section article ul#list-data li.parent li.li-data-nome span{
    font-size: 16px;
  }
  section article ul#list-data li.parent li.li-data-nome .span-data-date{
    font-size:13px;
  }
  section article ul#list-data li.parent li,
  section article ul#list-data li.parent li span{
   
    font-size: 15px;
    
  }
  section article ul#list-data li.parent .li-data-mensagem{
      width: 90%;
  }

}