header{
  width: 100%;
  margin: 0 auto;
}
header .slide .sub-slide{
  width: 100%;
  overflow: hidden;
  position: relative;
}
header .slide .sub-slide .description .carroselBsub{
   overflow: hidden; 
}
header .slide .sub-slide .description .text-propost{
  position: absolute;
  width: 100%;
  padding: 10px;
  text-shadow: 1px 1px 1px black;
  animation: cambiov1 30s infinite linear ;
  animation-fill-mode: forwards;
  
}
header .slide .sub-slide .description .text-propost span.first{
  margin-bottom: 10px;
  display: none;
}
header .slide .sub-slide .description .text-propost span{
  font-size: 16px;
  color: white;
  font-family: 'Raleway';
  
}

header .slide .sub-slide .description .imgs-carrosel a{
  position: absolute;
  left: 10px;
  cursor: pointer;
  font-size: 12.1078px;
  line-height: 14.7984px;
  padding: 6.72656px 10.7625px;
  color: #fff !important;
  background-color: #3498db;
  border:1px solid #258cd1;
   animation: cambiov2 30s infinite linear ;
  animation-fill-mode: forwards;   
}
header .slide .sub-slide .description .imgs-carrosel a:hover{
  background-color: #FF6347;
  border-color: #FF4500;
}
header .slide .sub-slide .description .carrosel{
  width: 300%;
  height:180px;
  display: flex;
  position: relative;
  top:-70px;
  
}
header .slide .sub-slide .description .carrosel-active{
  animation: cambio 30s infinite linear ;
  animation-fill-mode: forwards;
}
header .slide .sub-slide .description .carrosel-inactive-active{
 transition: 0.5s ease-in; 
  top: 0px;
}
header .slide .sub-slide .description .carroselBsub .subCarrosel{

  position: relative;
}
header .slide .sub-slide .description .subCarrosel{
  width:100%;
  padding-left: 10px;
}
header .slide .sub-slide .description{
  position: absolute;
  top: 0;
  width: 100%;
}
header .slide .sub-slide .description .imgs-carrosel img{
  width: 140px;
  position: absolute;
  top:80px;
  right:10px;
  float: right;
}
.slide1{
  animation: slide1 25s infinite linear ;
  animation-fill-mode: forwards; 
  width:160px !important;
  top:100px;
}
.slide2{
  width:190px !important;
  animation: slide2 25s infinite linear ;
  animation-fill-mode: forwards; 
  
}
.slide3{
  animation: slide3 25s infinite linear ;
  animation-fill-mode:forwards; 
   width:190px !important;
   top:100px !important;
}
.slide4{
  animation: slide4 25s infinite linear ;
  animation-fill-mode: forwards; 
  width:90px !important;
  right:30px !important;

}
.slide5{
  animation: slide5 25s infinite linear ;
  animation-fill-mode: forwards; 
  top:100px;
}
.slide6{
  animation: slide6 25s infinite linear ;
  animation-fill-mode: forwards; 
  width:80px !important;
  top:70px !important;
   right:30px !important;
}
@keyframes slide1{
  0%{opacity: 1}
  16.5%{opacity: 1}
  17%{opacity: 0}
  100%{opacity: 0}
}
@keyframes slide2{
  0%{opacity: 0}
  16.5%{opacity: 0}
  17%{opacity: 1}
  33.5%{opacity: 1}
  34%{opacity: 0}
  100%{opacity: 0}
}
@keyframes slide3{
  0%{opacity: 0}
  33.5%{opacity: 0}
  34%{opacity: 1}
  50%{opacity: 1}
  50.5%{opacity: 0}
  100%{opacity: 0}
}
@keyframes slide4{
  0%{opacity: 0}
  50%{opacity: 0}
  50.5%{opacity: 1}
  67%{opacity: 1}
  67.5%{opacity: 0}
  100%{opacity: 0}
}
@keyframes slide5{
  0%{opacity: 0}
  67%{opacity: 0}
  67.5%{opacity: 1}
  84%{opacity: 1}
  84.5%{opacity: 0}
  100%{opacity: 0}
}
@keyframes slide6{
  0%{opacity: 0}
  84%{opacity: 0}
  84.5%{opacity: 1}
  100%{opacity: 1}
}
header .slide .sub-slide .description .subCarrosel span i{
  font-size: 18px;
}
header .slide .sub-slide .description .subCarrosel span{
  
  display: block;
  max-width: 95%;
  margin-top:10px;
  border:2px solid rgb(0, 200, 200);
 border-radius: 8px;
  padding: 8px;
  color:white;
  font-size:11px;
  background-color: rgba(0,0,0,0.35);
  font-weight:900;
  
}
header .slide .sub-slide .img-slide{
  width: 100%;
}
header .slide .sub-slide .img-slide img{
  width: 100%;
}
header #menu{
  width: 100%;
  background-color: white;
  box-shadow:1px 1px 2px rgb(200, 200, 200);
  height: 60px;
  position: relative;
  top:-4px;
}
header #menu #menu-btn{
   font-size: 18px; 
  cursor: pointer;
   width: 45px;
   color:#535362;
  display: flex;
  align-items: center;
   height: 40px;
  position: relative;
  float: right;
  top:10px;
  left:-10px;
  border-radius:10px;
 border:1px solid rgb(200, 200, 200);
}
header #menu #menu-btn i{
  margin: 0 auto;
}
header #menu #menu-btn:hover{
  color:black;
  border-color:black;
}
header #menu #menu-btn i{
  padding: 0 2px;
}

@media only screen and (max-width:799px){
  header #menu .menu-list{
  z-index: 9;
  float: right;
  top:-60px;
  
  right: 80px;
  position: absolute;
  background-color: rgba(0,0,0, 0.7); 
  width: 150px;
  display: block;
  border-radius:5px;
  
  box-shadow: 6px 6px 12px rgba(0,0,0,0.4), -6px -6px 12px rgba(0,0,0,0.4);
  
}
header #menu .menu-list:after{
  content: "";
  top:50%;
  z-index: 10;
  left: 100%;
  border-style:solid;
  margin-top: -12px;
  border-width:12px;
  position:absolute;
  border-color:transparent transparent transparent rgba(0,0,0, 0.5);  
}
  header #menu .menu-list ul{
  
    box-shadow: 1px 1px 0px rgba(200, 200, 200,0.5), -1px -1px 0px rgba(200, 200, 200,0.5);
    border-radius: 5px;
   padding: 5px;
    position: relative;
    z-index: 9;
  }
  header #menu ul li a{
    padding:10px 10px;

    display: block;
   font-size:20px;

    font-family:Calibri;
    color:white;
  }
  header #menu ul li a:hover{
    border-radius:5px;
    color:rgb(100, 100, 100);
    background-color: white;
  }
}

/*----------fim da parte do menu---------*/

/*----------parte do menu e foto---------*/
header #menu .li-principal i{
  display: none;
}
header .slide .div-logo{
    width: 100px;
    height: 100px;
    border-radius:50%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    
    border: 4px solid white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
header .slide .div-logo img{
  position: relative;
  top:11px;
  left:5px;
  width: 90%;
}
header #menu .li-principal{
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  top:5px;
  padding-left:20px; 
}
header #menu .li-principal span{
  
  color:#535362;
  font-size:22px;
  font-family: "Adobe Caslon Pro";
}
/*----------fim da parte do menu e foto---------*/
.opacity-hidden{
  
  opacity: 0;
   transition: 0.5s linear;
  animation: opaco-yes 0.5s 1 linear;
  animation-fill-mode: forwards;
}
.opacity-visible{
  opacity: 1;
  transition: 0.5s linear;
}
@keyframes cambio{
  0%{margin-left: 0%; top: 0px}
  18%{margin-left: 0%; top: 0px}
  19%{margin-left: 5%; top: 0px}
  20%{margin-left: -100%; top: 0px}
  38%{margin-left: -100%; top: 0px}
  39%{margin-left: -95%; top: 0px}
  40.1%{margin-left: -200%; top: 0px}
  58%{margin-left: -200%; top: 0px}
  58.0001%{top: -80px;}
  99%{top: -80px}
  99.1%{margin-left: -200%;}
  99.11%{margin-left: 0%; }
  100%{top: 0px;}
}
@keyframes cambiov1{
  0%{top:-60px; opacity:1}
  58.0001%{top:-60px; opacity:1}
  59.5%{top:0px; opacity:1}
  98%{opacity: 1}
  99%{opacity: 0}
  100%{top:0px; opacity: 0}
}
@keyframes cambiov2{
  0%{top:210px; opacity:1}
  58.0001%{top:210px; opacity:1}
  59.5%{top:55px; opacity:1}
  98%{opacity: 1}
  99%{opacity: 0}
  100%{top:55px; opacity: 0}
}
@keyframes opaco-yes{
  0%{
    
    visibility: visible;
  }
  100%{
   
    visibility: hidden;
  }
}
@media only screen and (min-width:330px){
 
  header .slide .sub-slide .description .subCarrosel span{
    font-size: 14px;
  }
  header .slide .sub-slide .description .text-propost span{
    font-size: 17px;
    
  }

  header .slide .sub-slide .description .imgs-carrosel a{
    font-size: 13.1078px;
    line-height: 17px;
  }
  @keyframes cambiov1{
    0%{top:-70px; opacity:1}
    58.0001%{top:-70px; opacity:1}
    59.5%{top:10px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:10px; opacity: 0}
  }
  @keyframes cambiov2{
    0%{top:250px; opacity:1}
    58.0001%{top:250px; opacity:1}
    59.5%{top:70px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:70px; opacity: 0}
  }
}
@media only screen and (min-width:370px){
  
  .slide1{
    animation: slide1 25s infinite linear ;
    animation-fill-mode: forwards;
    width:190px !important; 
  }
  .slide2{
   top:100px !important;
    animation: slide2 25s infinite linear ;
    animation-fill-mode: forwards; 

  }
  .slide3{
    animation: slide3 25s infinite linear ;
    animation-fill-mode:forwards; 
     width:190px !important;
     top:100px !important;
  }
  .slide4{
    animation: slide4 25s infinite linear ;
    animation-fill-mode: forwards; 
    width:90px !important;
    right:30px !important;

  }
  .slide5{
    animation: slide5 25s infinite linear ;
    animation-fill-mode: forwards; 
    width:190px !important; 
  }
  .slide6{
    animation: slide6 25s infinite linear ;
    animation-fill-mode: forwards; 
    width:80px !important;
    top:70px !important;
     right:30px !important;
  }
  header .slide .sub-slide .description .subCarrosel span{
    font-size: 15px;
  }
  header .slide .sub-slide .description .subCarrosel{
    margin-top: 11px;
  }
   @keyframes cambiov1{
    0%{top:-70px; opacity:1}
    58.0001%{top:-70px; opacity:1}
    59.5%{top:10px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:10px; opacity: 0}
  }
  @keyframes cambiov2{
    0%{top:260px; opacity:1}
    58.0001%{top:260px; opacity:1}
    59.5%{top:75px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:75px; opacity: 0}
  }
  header .slide .sub-slide .description .text-propost span{
    font-size: 18px;
  }
  header .slide .sub-slide .description .imgs-carrosel a{
    font-size: 15.1078px;
    line-height: 18.7984px;
    padding: 6.72656px 15.7625px;
  }
}
@media only screen and (min-width:400px){
  @keyframes cambiov2{
    0%{top:280px; opacity:1}
    58.0001%{top:280px; opacity:1}
    59.5%{top:80px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:80px; opacity: 0}
  }
  header .slide .sub-slide .description .text-propost{
     padding-left: 15px;
  }  
  header .slide .sub-slide .description .imgs-carrosel a{
   left: 15px;
  }
}
@media only screen and (min-width:430px){
  
  header .slide .sub-slide .description .imgs-carrosel img{
    width: 200px;
    right: 20px;
    top:auto;
  }
  .slide1,
  .slide2,
  .slide3,
  .slide4,
  .slide5,
  .slide6{
    top:auto !important;
    bottom:0 !important;
  }
  .slide-carrosel{
    height:80px;
  }
   .slide1{
    width:190px !important;
  }
  .slide2{ 
    width:190px !important;
    
  }
  .slide3{
     width:190px !important;
     
  }
  .slide4{

    width:100px !important;
    right:30px !important;
    
  }
  .slide5{
    width:190px !important; 
    
  }
  .slide6{
    width:80px !important;
     right:30px !important;
  }
  @keyframes cambiov2{
    0%{top:300px; opacity:1}
    58.0001%{top:300px; opacity:1}
    59.5%{top:80px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:80px; opacity: 0}
  } 
}
@media only screen and (min-width:470px){
  .slide-carrosel{
    height:100px;
  }
   @keyframes cambiov1{
    0%{top:-70px; opacity:1}
    58.0001%{top:-70px; opacity:1}
    59.1%{top:10px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:10px; opacity: 0}
  }
   @keyframes cambiov2{
    0%{top:350px; opacity:1}
    58.0001%{top:350px; opacity:1}
    59.1%{top:80px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:80px; opacity: 0}
  } 
}
@media only screen and (min-width:500px){
 .slide-carrosel{
    height:130px;
  }
 .slide1{
    width:230px !important;
  }
  .slide2{ 
    width:230px !important;
    
  }
  .slide3{
     width:230px !important;
     
  }
  .slide4{

    width:100px !important;
    right:30px !important;
    
  }
  .slide5{
    width:190px !important; 
    
  }
  .slide6{
    width:80px !important;
     right:30px !important;
  }
  header .slide .sub-slide .description .text-propost span.first{
    margin-bottom: 10px;
    display: block;
  }
  header .slide .sub-slide .description .imgs-carrosel img{
    width: 230px;
    right: 20px;
    top:120px;
  }
  header .slide .sub-slide .description .subCarrosel span{
    font-size: 17px;
  }
  header .slide .sub-slide .description .subCarrosel{
    margin-top: 15px;
  }
  
  @keyframes cambio{
    0%{margin-left: 0%; top: 0px}
    18%{margin-left: 0%; top: 0px}
    19%{margin-left: 5%; top: 0px}
    20%{margin-left: -100%; top: 0px}
    38%{margin-left: -100%; top: 0px}
    39%{margin-left: -95%; top: 0px}
    40.1%{margin-left: -200%; top: 0px}
    58%{margin-left: -200%; top: 0px}
    58.0001%{top: -90px;}
    99%{top: -90px}
    99.1%{margin-left: -200%;}
    99.11%{margin-left: 0%; }
    100%{top: 0px;}
  }
  @keyframes cambiov1{
    0%{top:-120px; opacity:1}
    58.0001%{top:-120px; opacity:1}
    59.1%{top:10px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:10px; opacity: 0}
  }
   @keyframes cambiov2{
    0%{top:350px; opacity:1}
    58.0001%{top:350px; opacity:1}
    59.1%{top:130px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:130px; opacity: 0}
  } 
}
@media only screen and (min-width:550px){
  header .slide .sub-slide .description .imgs-carrosel .slide1{

  }
  header .slide .sub-slide .description .imgs-carrosel .slide2{
    top:190px;
    width:270px;
  }
  header .slide .sub-slide .description .imgs-carrosel .slide3{
    top:170px;
    width:270px;
  }
  header .slide .sub-slide .description .imgs-carrosel .slide4{
    top:160px;
    width:260px;
  }
  header .slide .sub-slide .description .imgs-carrosel .slide5{
    top:180px;
    width:230px;
  }
  
   header .slide .sub-slide .description .imgs-carrosel img{
    top:170px;
  }
  header .slide .sub-slide .description .subCarrosel span{
    font-size: 12px;
    max-width: 90%;
  }
  header .slide .sub-slide .description .subCarrosel{
    margin-top: auto;
  }
  header .slide .sub-slide .description .carroselBsub{
      overflow: hidden;
    margin-top: 17px;
  }
  header .slide .sub-slide .description .carrosel{
    display:block;
    width: 100%;
  }
  header .slide .sub-slide .description .subCarrosel:first-child{
    position:relative;
    animation: cambio1 30s infinite linear ;
    animation-fill-mode: forwards;
  }
  header .slide .sub-slide .description .subCarrosel:nth-child(2){
   position:relative;
    animation: cambio2 30s infinite linear ;
    animation-fill-mode: forwards;
  }
  header .slide .sub-slide .description .subCarrosel:last-child{
   position:relative;
    animation: cambio3 30s infinite linear ;
    animation-fill-mode: forwards;
  }
  @keyframes cambio{}
  @keyframes cambio1{
    0%{margin-left: 0%; top:-100px}
    1%{top:0px}
    39%{margin-left: 0%; top:0px}
    40%{margin-left: 10%; top:0px}
    41%{margin-left: -100%; top:0px}
    100%{margin-left: -100%; top:0px}
  }
  @keyframes cambio2{
    0%{margin-left: 3.2%; top:-200px}
    2.5%{top:0px}
    40%{margin-left: 3.2%; top:0px}
    41%{margin-left: 10%; top:0px}
    42%{margin-left: -100%; top:0px}
    100%{margin-left: -100%; top:0px}
  }
  @keyframes cambio3{
    0%{margin-left: 7.4%; top:-300px}
    4%{top:0px}
    41%{margin-left: 7.4%; top:0px}
    42%{margin-left: 10%; top:0px}
    43%{margin-left: -100%; top:0px}
    100%{margin-left: -100%; top:0px}
  }
  @keyframes cambiov1{
    0%{top:-120px; opacity:1}
    43.0001%{top:-120px; opacity:1}
    44.1%{top:10px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:10px; opacity: 0}
  }
   @keyframes cambiov2{
    0%{top:390px; opacity:1}
    43.0001%{top:390px; opacity:1}
    44.1%{top:120px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:120px; opacity: 0}
  } 
}
@media only screen and (min-width:600px){
  .slide-carrosel{
    height:160px;
  }
 
  @keyframes cambiov1{
    0%{top:-130px; opacity:1}
    43.0001%{top:-130px; opacity:1}
    44.1%{top:30px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:30px; opacity: 0}
  }
  @keyframes cambiov2{
    0%{top:410px; opacity:1}
    43.0001%{top:410px; opacity:1}
    44.1%{top:160px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:160px; opacity: 0}
  } 
   header .slide .sub-slide .description .imgs-carrosel a{
    font-size: 16.1078px;
    line-height: 20.7984px;
    padding: 6.72656px 17.7625px;
  }
  header .slide .sub-slide .description .text-propost span{
    font-size:20px;
  }
  header .slide .sub-slide .description .imgs-carrosel img{
    top:190px;
  }
  header .slide .sub-slide .description .subCarrosel span{
    font-size:16px;
    font-weight:500; 
    z-index: 20;
  }
  header .slide{
    overflow: hidden;
  }
  header .slide .sub-slide,
  header .slide .sub-slide .description .carroselBsub{
    overflow:visible;
  }
}
@media only screen and (min-width:650px){
  .slide-carrosel{
    height:170px;
  }
 .slide1{
    width:270px !important;
  }
  .slide2{ 
    width:270px !important;
    
  }
  .slide3{
     width:270px !important;
     
  }
  .slide4{

    width:130px !important;
    right:50px !important;
    
  }
  .slide5{
    width:230px !important; 
    right:50px !important;
    
  }
  .slide6{
    width:110px !important;
     right:30px !important;
  }
  
  header .slide .sub-slide .description .carroselBsub{
     overflow: hidden;
    margin-top: 27px;
  }
  header .slide .sub-slide .description .text-propost{
    padding-left:20px; 
  }
  header .slide .sub-slide .description .imgs-carrosel a{
    left:20px;
  }
  header .slide .sub-slide .description .text-propost span{
    font-size:22px;
  }
   @keyframes cambiov1{
    0%{top:-130px; opacity:1}
    43.0001%{top:-130px; opacity:1}
    44.1%{top:30px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:30px; opacity: 0}
  }
  @keyframes cambiov2{
    0%{top:455px; opacity:1}
    43.0001%{top:455px; opacity:1}
    44.1%{top:180px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:180px; opacity: 0}
  } 
  
  header .slide .div-logo img{
    top:15px;
    left:6px;
  }
  header .slide .div-logo{
    width: 130px;
    height: 130px; 
  }
  header .slide .sub-slide .description .imgs-carrosel img{
    top:200px;
    width: 260px;
  }
}
@media only screen and (min-width:700px){
  .slide-carrosel{
    height:200px;
  }
  @keyframes cambiov2{
    0%{top:480px; opacity:1}
    43.0001%{top:480px; opacity:1}
    44.1%{top:150px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:150px; opacity: 0}
  } 
}
@media only screen and (min-width:750px){
  .slide-carrosel{
    height:160px;
  }
  .slide6{
    width:100px !important;
     right:30px !important;
  }
  header .slide .div-logo{
    left: 55px;
    bottom:0;
    top:250px;
  }
  header #menu .li-principal{
    padding-left:48px;
  }
  header #menu .li-principal span{
    font-size: 25px;    
  }
  header .slide .sub-slide .description .imgs-carrosel .slide2{
    top:220px;
    width:370px;
  }
  header .slide .sub-slide .description .imgs-carrosel .slide3{
    top:190px;
    width:360px;
  }
  header .slide .sub-slide .description .imgs-carrosel .slide4{
    top:190px;
    width:300px;
  }
  header .slide .sub-slide .description .imgs-carrosel .slide5{
    top:210px;
    width:280px;
  }
  @keyframes cambiov1{
    0%{top:-130px; opacity:1}
    43.0001%{top:-130px; opacity:1}
    44.1%{top:40px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:40px; opacity: 0}
  }
  @keyframes cambiov2{
    0%{top:470px; opacity:1}
    43.0001%{top:470px; opacity:1}
    44.1%{top:190px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:190px; opacity: 0}
  } 
  header .slide .sub-slide .description .text-propost{
    padding-left:40px; 
    width: 90%;
  }
  header .slide .sub-slide .description .imgs-carrosel a{
    font-size: 17.1078px;
    line-height: 22.7984px;
    border-radius:2px;
    padding: 6.72656px 19.7625px;
    left:40px;
  }
  header .slide{
   max-height: 400px;
  }
  header .slide .sub-slide .description .subCarrosel span{
    font-size:17px;
    width:85%;
  }
}
@media only screen and (min-width:800px){
  
  
 header #menu .menu-list{
  z-index: 9;
  float: right;
  top:65px;
  right: 10px;
  position: absolute;
  background-color: white;
  width: 200px;
  display: block;
  border-radius:5px;
  border:1px solid rgb(225, 225, 225);
}
header #menu .menu-list ul{
  padding: 0;
}
header #menu ul li a{
  padding:10px 10px;
  
  display: block;
 font-size:17px;
  font-family:Calibri;
  color:rgb(130, 130, 130);
}
  
  header .slide .div-logo{
    left:57px;
  }
  header #menu .li-principal{
    padding-left: 50px;
  }
  header .slide .sub-slide .description .subCarrosel span{
    
    width:78%;
  }
  @keyframes cambio1{
    0%{margin-left: 5%; top:-100px}
    1%{top:0px}
    39%{margin-left: 5%; top:0px}
    40%{margin-left: 10%; top:0px}
    41%{margin-left: -100%; top:0px}
    100%{margin-left: -100%; top:0px}
  }
  @keyframes cambio2{
    0%{margin-left: 10%; top:-200px}
    2.5%{top:0px}
    40%{margin-left: 10%; top:0px}
    41%{margin-left: 10%; top:0px}
    42%{margin-left: -100%; top:0px}
    100%{margin-left: -100%; top:0px}
  }
  @keyframes cambio3{
    0%{margin-left: 15%; top:-300px}
    4%{top:0px}
    41%{margin-left: 15%; top:0px}
    42%{margin-left: 10%; top:0px}
    43%{margin-left: -100%; top:0px}
    100%{margin-left: -100%; top:0px}
  }
  header #menu #menu-btn{
    display: none;
  }
  .opacity-hidden,
  .opacity-visible{
    opacity: 1;
  }
  @keyframes opaco-yes{}
  
  header #menu .menu-list{
    border: none;
    right: 0;
    top:0px;
    width:60%;
  }
  header #menu{
    height: 70px;
  }
 
  header #menu .menu-list ul li a{
    padding: 10px 25px;
    font-size:18px;
     border-radius:25px;
    border:1px solid transparent;
  }
 
  header #menu .menu-list ul li a:hover{
    border-color:#3498db;
    color:#0066FF;
  }
  header #menu .menu-list ul{
    display: flex;
    width:100%;
    margin: 0;
    height: 70px;
    align-items: center;
    justify-content:start;
  }
  header .slide .sub-slide .description .text-propost span{
    font-size:25px;
  }
  @keyframes cambiov1{
    0%{top:-140px; opacity:1}
    43.0001%{top:-140px; opacity:1}
    44.1%{top:40px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:40px; opacity: 0}
  }
  @keyframes cambiov2{
    0%{top:470px; opacity:1}
    43.0001%{top:470px; opacity:1}
    44.1%{top:200px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:200px; opacity: 0}
  } 
}
@media only screen and (min-width:900px){
  header .slide .sub-slide .description .subCarrosel span{
    font-size:17px;
    width:70%;
  }
@keyframes slide1{
  0%{opacity: 1;bottom:0;width:0; right:30px;}
  0.5%{width:270px}
  16%{width:270px;bottom:0; right:30px;}
  16.5%{width:140px; right:300px;bottom:40px}
  33%{opacity: 1}
  33.5%{opacity: 0}
  100%{opacity: 0; bottom:40px;width:140px; right:300px;}
}
@keyframes slide2{
  0%{opacity: 0;bottom:0;width:0; right:30px;}
  16.5%{opacity: 0}
  17%{opacity: 1; width:270px}
  33.5%{width:270px;bottom:0; right:30px;}
  34%{width:140px; right:300px;bottom:40px}
  50.5%{opacity: 1}
  51%{opacity: 0}
  100%{opacity: 0; bottom:40px;width:140px; right:300px;}
}
@keyframes slide3{
  0%{opacity: 0;bottom:0;width:0; right:30px;}
  33.5%{opacity: 0}
  34%{opacity: 1;width:270px}
  50%{width:270px;bottom:0; right:30px;}
  50.5%{width:140px; right:200px;bottom:40px}
  67%{opacity: 1}
  67.5%{opacity: 0}
  100%{opacity: 0;width:140px; right:200px;bottom:40px}
}
@keyframes slide4{
  0%{opacity: 0;bottom:0;width:0; right:40px;}
  50%{opacity: 0}
  50.5%{opacity: 1;width:130px}
  67%{width:130px;bottom:0; right:40px;}
  67.5%{width:80px; right:300px;bottom:20px}
  84%{opacity: 1}
  84.5%{opacity: 0}
  100%{opacity: 0;width:80px; right:300px;bottom:20px}
}
@keyframes slide5{
  0%{opacity: 0;bottom:0;width:0; right:40px;}
  67%{opacity: 0}
  67.5%{opacity: 1;width:230px}
  84%{width:230px;bottom:0; right:40px;}
  84.5%{width:150px; right:200px;bottom:30px}
  99.9%{opacity:1}
  100%{opacity: 0;width:150px; right:200px;bottom:30px}
}
.slide6{
  right:60px !important;
}
}
@media only screen and (min-width:950px){
  header #menu .menu-list{
    width:50%;
  }
}
@media only screen and (min-width:1000px){
   header .slide .sub-slide .description .text-propost{
    padding-left:50px; 
    width: 80%;
  }
  header .slide .sub-slide .description .imgs-carrosel a{
    left:50px;
  }
  header .slide .sub-slide .description .text-propost span{
    font-size:26px;
  }
  header .slide .sub-slide .description .subCarrosel span{
    width:65%;
  }
  header #menu .li-principal div{
    width: 140px;
    height: 140px; 
  }
  header #menu .li-principal{
    top:-172%;
  }
  header #menu .li-principal div img{
    top:17px;
  }
}
@media only screen and (min-width:1050px){
   header #menu .menu-list ul li a{
    padding: 10px 30px;
    border-radius:30px;
     border:1px solid transparent;
     
  }
  header #menu .menu-list ul li a:hover{
    border-color:#3498db;
    color:#0066FF;
  }
}
@media only screen and (min-width:1100px){
 .slide-carrosel{
    height:230px;
  }
  @keyframes slide1{
    0%{opacity: 1;bottom:0;width:0; right:60px;}
    0.5%{width:290px}
    16%{width:290px;bottom:0; right:60px;}
    16.5%{width:160px; right:350px;bottom:40px}
    33%{opacity: 1}
    33.5%{opacity: 0}
    100%{opacity: 0; bottom:40px;width:160px; right:350px;}
  }
  @keyframes slide2{
    0%{opacity: 0;bottom:0;width:0; right:60px;}
    16.5%{opacity: 0}
    17%{opacity: 1; width:290px}
    33.5%{width:290px;bottom:0; right:60px;}
    34%{width:160px; right:350px;bottom:40px}
    50.5%{opacity: 1}
    51%{opacity: 0}
    100%{opacity: 0; bottom:40px;width:160px; right:350px;}
  }
  @keyframes slide3{
    0%{opacity: 0;bottom:0;width:0; right:60px;}
    33.5%{opacity: 0}
    34%{opacity: 1;width:300px}
    50%{width:300px;bottom:0; right:60px;}
    50.5%{width:160px; right:260px;bottom:60px}
    67%{opacity: 1}
    67.5%{opacity: 0}
    100%{opacity: 0;width:160px; right:260px;bottom:60px}
  }
  @keyframes slide4{
    0%{opacity: 0;bottom:0;width:0; right:70px;}
    50%{opacity: 0}
    50.5%{opacity: 1;width:170px}
    67%{width:170px;bottom:0; right:70px;}
    67.5%{width:90px; right:360px;bottom:30px}
    84%{opacity: 1}
    84.5%{opacity: 0}
    100%{opacity: 0;width:90px; right:360px;bottom:30px}
  }
  @keyframes slide5{
    0%{opacity: 0;bottom:0;width:0; right:70px;}
    67%{opacity: 0}
    67.5%{opacity: 1;width:270px}
    84%{width:270px;bottom:0; right:70px;}
    84.5%{width:170px; right:270px;bottom:60px}
    99.9%{opacity:1}
    100%{opacity: 0;width:170px; right:270px;bottom:60px}
  }
  .slide6{
    right:90px !important;
    width:150px !important;
  }
  header .slide .div-logo{
    left:50px;
    top:285px;
    
    width: 170px;
    height: 170px; 
  }
  
  header .slide{
    max-height: 500px;
  }
  header .slide .sub-slide .description .text-propost span{
    font-size:25px;
  }
   header .slide .sub-slide .description .subCarrosel span{
    width:60%;
  }
  header .slide .sub-slide .description .subCarrosel span{
    font-size: 18px;
  }
  header .slide .sub-slide .description .imgs-carrosel a{
    font-size: 18.1078px;
    line-height: 24.7984px;
    padding: 10.72656px 21.7625px;
  }
  header .slide .sub-slide .description .carroselBsub{
     
    margin-top: 40px;
  }
  @keyframes cambiov1{
    0%{top:-110px; opacity:1}
    43.0001%{top:-110px; opacity:1}
    44.1%{top:50px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:50px; opacity: 0}
  }
  @keyframes cambiov2{
    0%{top:500px; opacity:1}
    43.0001%{top:500px; opacity:1}
    44.1%{top:190px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:190px; opacity: 0}
  } 
  header .slide .sub-slide .description .imgs-carrosel img{
    top:230px;
   right:30px;
    width:290px;
  }
  header .slide .div-logo img{
    top:18px;
    left:9px;
  }
 
  header #menu .li-principal span{
    
    font-size: 28px;
  }
  header{
    width: 90%;
    overflow: hidden;
    border-radius:5px;
    margin:0 auto;
    margin-top:20px;
  }
  header #menu{
    border-radius: 0 0 5px 5px;
  }
}
@media only screen and (min-width:1200px){
  .slide-carrosel{
    height:210px;
  }
  @keyframes slide1{
    0%{opacity: 1;bottom:0;width:0; right:90px;}
    0.5%{width:290px}
    16%{width:290px;bottom:0; right:90px;}
    16.5%{width:160px; right:400px;bottom:40px}
    33%{opacity: 1}
    33.5%{opacity: 0}
    100%{opacity: 0; bottom:40px;width:160px; right:400px;}
  }
  @keyframes slide2{
    0%{opacity: 0;bottom:0;width:0; right:90px;}
    16.5%{opacity: 0}
    17%{opacity: 1; width:290px}
    33.5%{width:290px;bottom:0; right:90px;}
    34%{width:160px; right:400px;bottom:40px}
    50.5%{opacity: 1}
    51%{opacity: 0}
    100%{opacity: 0; bottom:40px;width:160px; right:400px;}
  }
  @keyframes slide3{
    0%{opacity: 0;bottom:0;width:0; right:90px;}
    33.5%{opacity: 0}
    34%{opacity: 1;width:300px}
    50%{width:300px;bottom:0; right:90px;}
    50.5%{width:160px; right:300px;bottom:60px}
    67%{opacity: 1}
    67.5%{opacity: 0}
    100%{opacity: 0;width:160px; right:300px;bottom:60px}
  }
  @keyframes slide4{
    0%{opacity: 0;bottom:0;width:0; right:100px;}
    50%{opacity: 0}
    50.5%{opacity: 1;width:170px}
    67%{width:170px;bottom:0; right:100px;}
    67.5%{width:90px; right:410px;bottom:30px}
    84%{opacity: 1}
    84.5%{opacity: 0}
    100%{opacity: 0;width:90px; right:410px;bottom:30px}
  }
  @keyframes slide5{
    0%{opacity: 0;bottom:0;width:0; right:100px;}
    67%{opacity: 0}
    67.5%{opacity: 1;width:270px}
    84%{width:270px;bottom:0; right:100px;}
    84.5%{width:170px; right:320px;bottom:60px}
    99.9%{opacity:1}
    100%{opacity: 0;width:170px; right:320px;bottom:60px}
  }
  .slide6{
    right:120px !important;
    width:150px !important;
  }
  header .slide .sub-slide .description .imgs-carrosel .slide-carrosel{
    top: -170px;
  }
  
  header .slide .sub-slide .description .imgs-carrosel .slide5{
    width: 320px;
  }
  header .slide .sub-slide .description .carroselBsub{ 
    margin-top: 60px;
  }
  header .slide .sub-slide .description .text-propost{
    width:75%;
  }
  @keyframes cambiov1{
    0%{top:-170px; opacity:1}
    43.0001%{top:-170px; opacity:1}
    44.1%{top:40px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:40px; opacity: 0}
  }
  @keyframes cambiov2{
    0%{top:500px; opacity:1}
    43.0001%{top:500px; opacity:1}
    44.1%{top:230px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:230px; opacity: 0}
  } 
  header .slide .sub-slide .description .text-propost span.first{
   margin-bottom: 18px;
  }
  header .slide .sub-slide .description .text-propost span{
    font-size:29px;
  }
}
@media only screen and (min-width:1300px){
  @keyframes cambiov2{
    0%{top:500px; opacity:1}
    43.0001%{top:500px; opacity:1}
    44.1%{top:200px; opacity:1}
    98%{opacity: 1}
    99%{opacity: 0}
    100%{top:200px; opacity: 0}
  } 
}