section#welcome {
    margin: 8px auto 0;
    font-family: Raleway;
    background-color: #fff
}

section#welcome h1 {
    padding: 20px;
    color: #fff;
    font-size: 20px;
    background: #3498db
}

section#welcome .box {
    background-color: #6747c7;
    color: #fff !important;
    margin-top: 8px;
    padding: 20px
}

section#welcome .box a {
    color: #fff;
    border: 1px solid #fff;
    margin-top: 10px;
    background-color: #1d9d74;
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem
}

section#welcome .box a:hover {
    background-color: #fe6247
}

section.desenvolviment {
    width: 95%;
    margin: 0 auto;
    clear: both
}

section.desenvolviment .block {
    width: 100%
}

section.desenvolviment article.type-site {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 1px solid #c8e6e6;
    padding: 10px 20px
}

section.desenvolviment article.type-site h2 {
    padding: 20px 0;
    font-family: Raleway;
    font-weight: 500
}

section.desenvolviment article.type-site p {
    font-family: Calibri;
    margin-bottom: 20px;
    font-size: 18px;
    color: #646464;
    line-height: 1.5
}

@media only screen and (min-width:500px) {
    section#welcome {
        width: 95%
    }
}

@media only screen and (max-width:699px) {
    section.desenvolviment article.type-site .drop {
        display: none
    }
    section.desenvolviment article.type-site a.continue_lendo {
        color: green;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 90%;
        border: 1px solid #bebebe;
        border-radius: 10px;
        line-height: 2
    }
    section.desenvolviment article.type-site a.continue_lendo:hover {
        border-color: #00f
    }
}

@media only screen and (min-width:700px) {
    section.desenvolviment article.type-site a.continue_lendo {
        display: none
    }
    section#welcome {
        padding: 10px;
        border-radius: 5px
    }
    section#welcome .background {
        display: flex;
        border-radius: 30px;
        justify-content: space-between
    }
    section#welcome h1 {
        display: flex;
        align-items: center;
        border-radius: 0 0 0 30px;
        width: 69%
    }
    section#welcome .box {
        width: 30%;
        margin-top: 0;
        border-radius: 0 30px 0 0
    }
}

@media only screen and (min-width:800px) {
    section#welcome {
        padding: 10px;
        border-radius: 5px
    }
    section#welcome .background {
        padding: 10px
    }
}

@media only screen and (min-width:900px) {
    section#welcome h1 {
        font-size: 23px
    }
    section.desenvolviment .block {
        width: 100%;
        display: flex;
        justify-content: space-between
    }
    section.desenvolviment article.type-site {
        width: 49.5%;
        border-radius: 5px
    }
}

@media only screen and (min-width:1100px) {
    section#welcome,
    section.desenvolviment {
        width: 90%
    }
    section#welcome h1 {
        font-size: 24px
    }
}