section#desenvolviment2 {
    width: 100%;
    background: #3498db;
    margin: 0 auto
}

section#desenvolviment2 article {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid rgba(230, 230, 230, .5);
    border-top: none
}

section#desenvolviment2 article .icon-cicle {
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    border: 2px solid #fff;
    align-items: center;
    margin: 20px auto 0;
    background-color: #5CB85C
}

section#desenvolviment2 article .icon-cicle i {
    margin: 0 auto;
    font-size: 23px
}

section#desenvolviment2 .flex-control:first-child article:last-child .icon-cicle {
    background-color: #f0ad4e
}

section#desenvolviment2 .flex-control:first-child article:last-child .icon-cicle i {
    font-size: 26px
}

section#desenvolviment2 .flex-control:last-child article:first-child .icon-cicle {
    background-color: #6747c7
}

section#desenvolviment2 .flex-control:last-child article:last-child .icon-cicle {
    background-color: #a8a7a3
}

section#desenvolviment2 .flex-control:last-child article:last-child .icon-cicle i {
    font-size: 25px
}

section#desenvolviment2 article h2 {
    padding: 20px 0;
    font-family: Raleway;
    font-weight: 500;
    margin: 0 auto;
    text-align: center
}

section#desenvolviment2 article p {
    font-family: Calibri;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5
}

@media only screen and (min-width:400px) {
    section#desenvolviment2 article .icon-cicle {
        width: 80px;
        height: 80px
    }
    section#desenvolviment2 article .icon-cicle i {
        font-size: 25px
    }
    section#desenvolviment2 .flex-control:first-child article:last-child .icon-cicle i {
        font-size: 29px
    }
    section#desenvolviment2 .flex-control:last-child article:last-child .icon-cicle i {
        font-size: 26px
    }
}

@media only screen and (min-width:500px) {
    section#desenvolviment2 {
        width: 95%;
        border-radius: 5px
    }
}

@media only screen and (min-width:600px) {
    section#desenvolviment2 {
        width: 100%;
        border-radius: 0
    }
    section#desenvolviment2 .flex-control {
        display: flex;
        justify-content: space-around
    }
    section#desenvolviment2 article {
        width: 50%
    }
    section#desenvolviment2 .flex-control article:nth-child(even) {
        border: none;
        border-bottom: 1px solid rgba(230, 230, 230, .5)
    }
}

@media only screen and (min-width:1100px) {
    section#desenvolviment2 {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px
    }
    section#desenvolviment2 .flex-control article:nth-child(even) {
        border: none;
        border-right: 1px solid rgba(230, 230, 230, .5)
    }
    section#desenvolviment2 .flex-control {
        width: 50%
    }
    section#desenvolviment2 .flex-control article {
        border: none;
        width: 50%;
        border-right: 1px solid rgba(230, 230, 230, .5)
    }
}