@font-face {
    font-family: "Adobe Caslon Pro";
    src: url(fonts/adobe_caslon_pro/@font-face/db22ddc23aac1cc8d1c8c71ffb02865b.eot);
    src: url(fonts/adobe_caslon_pro/@font-face/db22ddc23aac1cc8d1c8c71ffb02865b.eot?#iefix) format("embedded-opentype"), url(fonts/adobe_caslon_pro/@font-face/db22ddc23aac1cc8d1c8c71ffb02865b.woff2) format("woff2"), url(fonts/adobe_caslon_pro/@font-face/db22ddc23aac1cc8d1c8c71ffb02865b.woff) format("woff"), url(fonts/adobe_caslon_pro/@font-face/db22ddc23aac1cc8d1c8c71ffb02865b.ttf) format("truetype"), url('fonts/adobe_caslon_pro/@font-face/db22ddc23aac1cc8d1c8c71ffb02865b.svg#Adobe Caslon Pro') format("svg")
}

@font-face {
    font-family: Calibri;
    src: url(fonts/calibri/8922aedb2c18008da7daf4f93fd60bdc.eot);
    src: url(fonts/calibri/8922aedb2c18008da7daf4f93fd60bdc.eot?#iefix) format("embedded-opentype"), url(fonts/calibri/8922aedb2c18008da7daf4f93fd60bdc.woff2) format("woff2"), url(fonts/calibri/8922aedb2c18008da7daf4f93fd60bdc.woff) format("woff"), url(fonts/calibri/8922aedb2c18008da7daf4f93fd60bdc.ttf) format("truetype"), url('fonts/calibri/8922aedb2c18008da7daf4f93fd60bdc.svg#Calibri Light') format("svg")
}