<section id="desenvolviment3" class="desenvolviment">
	<div class="block">
		<article class="type-site">
			<h2>Empresa</h2>
			<p>
				A W3 Sistemas Web é especializada em soluções para a Internet, somos focados em desenvolvimento de sites e sistemas para web.
			</p>
			<p>
				Atendemos clientes de todos os estados do Brasil sempre focando no nosso principal objetivo: trazer retorno ao investimento do cliente.
			</p>
			<p>
				Não só buscamos crescer nossa empresa mas também nos preocupamos com o desenvolvimento das empresas dos nossos clientes, estamos sempre nos esforçando para trazer retorno para eles quando estamos na responsabilidade de criar um site de qualidade.
			</p>
			<h2 id="contact">Contato</h2>
			<div class="contato">
				<div>
					<span>Telefone</span><i class="fa fa-hand-o-right" aria-hidden="true"></i> 
					<span>+55 89 981465249</span>
				</div>
				<div>
					<span>Email</span><i class="fa fa-hand-o-right" aria-hidden="true"></i> 
					<a href="#">w3sistemasweb@gmail.com</a>
				</div>
			</div>
			<h2>Horário de atendimento</h2>
			<p style="color: green">Segunda - Sexta <br> 9h às 12h - 13h às 17h</p>
		</article>

		<article class="type-site" id="propost">
			<h2>Envie sua mensagem para a W3</h2>
			<p>
				Entre em contato conosco, teremos o maior prazer em atende-lo da melhor maneira possivel e ajudá-lo a encontrar a solução ideal para sua empresa.
			</p>
			<p>Campos com * são obrigatórios.</p>
			<form action="#" method="POST" id="form-primary">

				<div class="block">
					<div>
						<label for="nome">Nome *</label>
						<input type="text" name="nome" id="nome" placeholder="Nome">
					</div>
					<div>
						<label for="email">Email *</label>
						<input type="text" name="email" id="email" placeholder="Email">
					</div>
				</div>
				<div class="block">
					<div>
						<label for="telefone">Telefone com DDD</label>
						<input type="text" name="telefone" id="telefone" class="mask" placeholder="Telefone">
					</div>
					<div>
						<label for="celular">Celular com DDD</label>
						<input type="text" name="celular" id="celular" class="mask" placeholder="Celular">
					</div>
				</div>

				<label for="mensagem">Mensagem *</label>
				<textarea name="mensagem" id="mensagem" placeholder="Sua mensagem aqui..."></textarea>
				<button>Enviar</button>
			</form>
		</article>
	</div>
</section>